@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik+Scribble:regular");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap");

/* ANIMATIONS */
@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-spead) * 10px));
  }
}

@keyframes astronaut {
  0% {
    transform: translateX(0) translateY(0) rotate(0) scale(1);
  }

  25% {
    transform: translateX(-20px) translateY(-30px) rotate(-4deg) scale(1.03);
  }

  50% {
    transform: translateX(0) translateY(0) rotate(0) scale(1);
  }

  75% {
    transform: translateX(40px) translateY(-40px) rotate(9deg) scale(1.02);
  }
}


/* GENERAL PROPERTIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 80px min-content 50px;
}


/* HEADER PROPERTIES */
.header {
  grid-row: 1/2;
  width: 100vw;
  padding: 0 50px 0 200px;
  background: linear-gradient(#770646 86%, #C20081 92%, #FF00F2 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.header>.logo {
  margin-right: auto;
  height: 60px;
  width: 60px;
  font-family: "Rubik Maze", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  color: #F0F0F0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.header>.logo>img {
  width: 50px;
  height: 50px;
}

.header>.button {
  height: 50px;
  width: 120px;
  padding: auto;
  background: linear-gradient(#770646 86%, #C20081 92%, #FF00F2 100%);
  border: 4px double #000;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header>.button>p {
  font-family: 'Rubik Scribble', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #F0F0F0;
  text-transform: uppercase;
}


/* HOME PAGE PROPERTIES */
.home-page {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 0.75fr repeat(3, 3fr) 0.75fr;
  grid-template-rows: 30px repeat(7, minmax(min-content, max-content));
}

.home-page>.back-bg {
  grid-row: 1/6;
  grid-column: 1/6;
  z-index: -4;
}

.home-page>.back-bg>img {
  object-fit: fill;
}

.home-page>.text {
  --parallax-spead: -25;
  grid-row: 2/3;
  grid-column: 2/4;
  margin-top: auto;
  z-index: -3;
  color: #770646;
  font-family: "Rubik Maze", sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
}

.home-page>.text span {
  color: #FF00F2;
  font-size: 6.6rem;
}

.home-page>.earth {
  --parallax-spead: 35;
  grid-row: 2/4;
  grid-column: 4/5;
  margin: auto;
  z-index: -3;
}

.home-page>.earth>img {
  height: 100%;
  object-fit: contain;
  transform: scale(1.15);
}

.home-page>.front-bg {
  grid-row: 4/9;
  grid-column: 1/6;
  z-index: -2;
}

.home-page>.front-bg>img {
  height: 100%;
  object-fit: fill;
}

.home-page>.moon-shatle {
  --parallax-spead: 5;
  grid-row: 4/8;
  grid-column: 2/4;
  margin-left: auto;
}

.home-page>.moon-shatle>img {
  height: 500px;
  width: auto;
  object-fit: cover;
}

.home-page>.pizza-man-1 {
  grid-row: 5/9;
  grid-column: 2/3;
  margin: auto;
}

.home-page>.pizza-man-1>img {
  height: 450px;
  cursor: pointer;
  z-index: 4;
  animation: 6s ease-in 0s infinite astronaut;
}

.home-page>.pizza-man-2 {
  grid-row: 5/9;
  grid-column: 4/5;
  position: relative;
}

.home-page>.pizza-man-2>img {
  position: absolute;
  height: 350px;
  cursor: pointer;
  z-index: 2;
  animation: 4s ease-in 0s infinite astronaut;
}

.home-page>.moon-shatle>p,
.home-page>.pizza-man-1>p,
.home-page>.pizza-man-2>p {
  position: relative;
  width: 200px;
  background: #F0F0F0;
  font-size: 1.2rem;
  text-align: justify;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
}

.home-page>.moon-shatle>p {
  top: 350px;
  left: 20%;
  z-index: 2;
}

.home-page>.moon-shatle>p::after,
.home-page>.pizza-man-1>p::after,
.home-page>.pizza-man-2>p::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #F0F0F0;
}

.home-page>.pizza-man-1>p:nth-child(2),
.home-page>.pizza-man-2>p:nth-child(2) {
  width: 130px;
  bottom: -50px;
  left: -10%;
  opacity: 0;
}

.home-page>.moon-shatle>p:nth-child(2) {
  width: 130px;
  bottom: -200px;
  opacity: 0;
}

.home-page>.moon-shatle>p:nth-child(2)::after,
.home-page>.pizza-man-1>p:nth-child(2)::after,
.home-page>.pizza-man-2>p:nth-child(2)::after {
  top: 50%;
  left: 138px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #F0F0F0;
}

.home-page>.moon-shatle:hover>p:nth-child(2),
.home-page>.pizza-man-1:hover>p:nth-child(2),
.home-page>.pizza-man-2:hover>p:nth-child(2) {
  opacity: 1;
}

.parallax>* {
  animation: parallax linear;
  animation-timeline: scroll();
}


/* MENU PAGE PROPERTIES */
.menu-page {
  grid-row: 2/3;
  background-image: url(../dist/images/universe.png);
  background-attachment: fixed;
  background-size: cover;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 50px;
}

.menu-page>.dish {
  background: linear-gradient(#770646 96%, #C20081 98%, #FF00F2 100%);
  height: 320px;
  width: 500px;
  margin: auto;
  border: 4px double #000;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-page>.dish>h1 {
  font-family: 'Rubik Scribble', sans-serif;
  color: #F0F0F0;
  font-size: 2.5rem;
}

.menu-page>.dish>.sub-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-page>.dish>.sub-div>img {
  transition: 1s;
  height: 100%;
  width: 45%;
  box-shadow: 0 0 15px #F0F0F0;
}

.menu-page>.dish>.sub-div>img:hover {
  box-shadow: none;
  transform: rotate(1440deg) scale(2);
}

.menu-page>.dish>.sub-div>p {
  height: 100%;
  width: 45%;
  padding: 10px;
  box-shadow: 0 0 15px #F0F0F0;
  color: #F0F0F0;
  font-size: 1rem;
  text-align: justify;
}


/* DELIVERY PAGE PROPERTIES */
.delivery-page {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 0.75fr repeat(3, 3fr) 0.75fr;
  grid-template-rows: 30px repeat(7, minmax(min-content, max-content));
}

.delivery-page>.back-bg {
  grid-row: 1/6;
  grid-column: 1/6;
  z-index: -4;
}

.delivery-page>.back-bg>img {
  object-fit: fill;
}

.delivery-page>.delivery {
  --parallax-spead: -75;
  grid-row: 3/5;
  grid-column: 2/4;
  margin: auto auto 0;
  z-index: -3;
}

.delivery-page>.delivery>img {
  height: 100%;
  object-fit: contain;
  transform: rotate(30deg);
}

.delivery-page>.earth {
  --parallax-spead: 35;
  grid-row: 2/4;
  grid-column: 4/5;
  margin: auto;
  z-index: -3;
}

.delivery-page>.earth>img {
  height: 100%;
  object-fit: contain;
  transform: scale(1.15);
}

.delivery-page>.front-bg {
  grid-row: 4/9;
  grid-column: 1/6;
  z-index: -2;
}

.delivery-page>.front-bg>img {
  height: 100%;
  object-fit: fill;
}

.delivery-page>.free-delivery {
  --parallax-spead: 5;
  grid-row: 4/8;
  grid-column: 2/4;
  margin: auto;
}

.delivery-page>.free-delivery>img {
  height: auto;
  width: 400px;
  object-fit: cover;
}

.delivery-page>.delivery-man {
  grid-row: 5/8;
  grid-column: 4/5;
  position: relative;
}

.delivery-page>.delivery-man>img {
  height: 400px;
  z-index: 2;
  animation: 4s ease-in 0s infinite astronaut;
}

.delivery-page>.delivery>p,
.delivery-page>.free-delivery>p,
.delivery-page>.delivery-man>p {
  position: relative;
  width: 220px;
  background: #F0F0F0;
  color: #000;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: justify;
  line-height: 1.3;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
}

.delivery-page>.delivery>p::after,
.delivery-page>.free-delivery>p::after,
.delivery-page>.delivery-man>p::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #F0F0F0;
}

.delivery-page>.delivery>p>span,
.delivery-page>.free-delivery>p>span,
.delivery-page>.delivery-man>p>span {
  color: #770646;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}


/* CONTACT PAGE PROPERTIES */
.contact-page {
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.75fr repeat(3, 3fr) 0.75fr;
  grid-template-rows: 0.2fr repeat(3, 1fr);
}

.contact-page>.back-bg {
  background-image: url(../dist/images/moon-base.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  object-fit: fill;
  width: 100%;
  grid-column: 1/6;
  grid-row: 1/5;
}

.contact-page>.text {
  z-index: 2;
  grid-column: 2/5;
  grid-row: 2/3;
  color: #F0F0F0;
  font-family: 'Rubik Scribble', sans-serif;
  font-size: 1.3rem;
}

.contact-page>.pizza-man-3 {
  grid-column: 3/4;
  grid-row: 3/5;
}

.contact-page>.pizza-man-3>img {
  height: 400px;
  animation: 3s ease-in 0s infinite astronaut;
}

.contact-page>.pizza-man-4 {
  grid-column: 2/3;
  grid-row: 3/5;
}

.contact-page>.pizza-man-4>img {
  height: 360px;
  animation: 4.5s ease-in 0s infinite astronaut;
}

.contact-page>.delivery-man-2 {
  grid-column: 4/5;
  grid-row: 3/5;
}

.contact-page>.delivery-man-2>img {
  height: 360px;
  animation: 5s ease-in 1s infinite astronaut;
}


/* ABOUT PAGE PROPERTIES */
.about-page {
  grid-row: 2/3;
  height: calc(100vh - 130px);
  background-image: url('./images/universe.png');
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-page>.card {
  background: linear-gradient(#770646 96%, #C20081 98%, #FF00F2 100%);
  height: 95%;
  width: 80%;
  padding: 25px;
  border: 4px double #000;
  border-radius: 20px;
}

.about-page>.card>h1 {
  font-family: 'Rubik Scribble', sans-serif;
  font-size: 3rem;
  color: #F0F0F0;
  text-align: center;
  text-transform: uppercase;
}

.about-page>.card>.sub-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.about-page>.card>.sub-card>p {
  font-size: 1.2rem;
  color: #F0F0F0;
  text-align: justify;
}

.about-page>.card>.sub-card>img {
  background: linear-gradient(#770646 96%, #C20081 98%, #FF00F2 100%);
  height: 100%;
  width: 28%;
  border: 4px double #000;
  border-radius: 15px;
}


/* FOOTER PROPERTIES */
.footer {
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#FF89F9 5%, #C20081 20%, #770646 100%);
}

.footer>p {
  color: #F0F0F0;
  font-family: sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.footer>p>a {
  text-decoration: none;
  color: #F0F0F0;
  font-size: 1.3rem;
  font-weight: 700;
}

#mask {
  grid-row: 2/3;
  /* Верхний фон */
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: white;
  font-size: 24px;
}

/* 
#mask:before {
  content: 'Moon, southwestern region of the "Sea of Tranquility"<br>This place is located almost on the equator of the Moon';
  position: absolute;
  top: 10px;
  left: 10px;
} */